<h1>TECHNICIAN'S WHEREABOUTS</h1>
<div class="form-group">
    <input placeholder="Technician's Name" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl" id="maps_search">
</div>

<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" >

    <div *ngFor="let m of markers$ | async">
      <agm-marker [latitude]="m.latitude" [longitude]="m.longitude"  >
        <agm-info-window>
          <h3>
            <strong>{{m.technicianName}}</strong>
          </h3>
          <p> <strong>Address: </strong> {{ m.address }}</p>
        </agm-info-window>
      </agm-marker>
    </div>  
</agm-map>


 
