<button class="btn btn-warning" [routerLink]="['/dashboard']">Back</button>
<a routerLink="/types/new" class="btn btn-primary">Add Task Type</a>


 <br>
 <br>



<div class="table-responsive-sm">
    <table class="table">
        <thead>
            <tr>
                <th>Task Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of taskCategory$ | async | paginate: { itemsPerPage: 5, currentPage: p }">
                <td>{{ p.type }}</td>
                <td><a [routerLink]="['/types', p.$key]">Edit</a></td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
