<button class="btn btn-warning" [routerLink]="['/dashboard']">Back</button>

<a routerLink="/task/new" class="btn btn-primary">Add Tasks</a>

<br>
<br>

<!-- Search -->
<p>
  <!-- Handle key of event -->
  <input 
  #queryTasks
  (keyup)="filter(queryTasks.value)"
  type="text" class="form-control" placeholder="Search Name...">
</p>

<table class="table">
  <thead>
    <tr>
      <!-- <th>UID</th> -->
      <!-- <th>Technician</th> -->
      <th>Task Name</th>
      <th>Address</th>
      <!-- <th>Suburb</th> -->
      <th>Class</th>
      <th>Type</th>
      <th>Date</th>
      <!-- <th>Description</th> -->
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let b of filteredTasks">
      <!-- <td>{{ b.eachUserID }}</td> -->
      <!-- <td>{{ b.taskTechnicianName}}</td> -->
      <td>{{ b.taskName }}</td>
      <td>{{ b.taskAddress }}</td>
      <!-- <td>{{ b.taskSuburb }}</td> -->
      <td>{{ b.taskClass }}</td>
      <td>{{ b.taskType }}</td>
      <td>{{ b.taskDate | date:"MM/dd/yy hh:mm a" }}</td>
      <!-- <td>{{ b.taskDescription }}</td> -->
      <td>
        <a [routerLink]="['/task', b.$key]">View</a>
      </td>
    </tr>
  </tbody>
</table>
