<agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)="onChoosenLocation($event)">
    <agm-marker 
    [latitude]="latitude" 
    [longitude]="longitude"
    
    *ngIf="locationChoosen">
   </agm-marker>
</agm-map>

 <section id="details">
    <div class="container">
      <div class="col">
        <div class="row-sm">
            <div class="card text-center bg-primary text-white mb-3">
                <div class="card-body">
                  <h3>Technicians</h3>
                  <h1 class="display-4">
                   <i class="fa fa-pencil"></i>
                 </h1>
                 <a routerLink="/technicians" class="btn btn-outline-dark text-white btn-sm">View</a>
                </div>
              </div>
        </div>

        <div class="row-sm">
          <div class="card text-center bg-success text-white mb-3">
              <div class="card-body">
                <h3>Maps</h3>
                <h1 class="display-4">
                  <i class="fa fa-folder-open"></i>
                </h1>
                <a routerLink="/maps" class="btn btn-outline-dark text-white btn-sm">View</a>
              </div>
          </div>
        </div>
        
        <div class="row-sm">
            <div class="card text-center bg-secondary text-white mb-3">
                <div class="card-body">
                  <h3>Tasks</h3>
                  <h1 class="display-4">
                    <i class="fa fa-users"></i>
                  </h1>
                  <a routerLink="/task" class="btn btn-outline-dark text-white btn-sm">View</a>
                </div>
            </div>
        </div>
        
      </div>
    </div>
 </section>
 <!-- <input type="text" placeholder="Search for location" autocorrect="off" autocapitalize="off" spellcheck="off" class="form-control" #search> -->

 