
<button class="btn btn-warning" [routerLink]="['/technicians']">Back</button>
<br>
<br>

<div class="col-md-4">
    <div class="card" style="width: 30rem;">
        <img class="card-img-top">
          <div class="card-body">
            <h4>Technicians</h4>
            <p class="card-text">Name: {{ technicians.name }}</p>
            <p class="card-text">Email: {{ technicians.email }}</p>
            <p class="card-text">Expiration: {{ technicians.expirationDate }}</p>
            <p class="card-text">Phone: {{ technicians.phone }}</p>
            <!-- <p class="card-text">Hobby: {{ technicians.hobby }}</p>
            <p class="card-text">Bio: {{ technicians.bio }}</p> -->
          </div>
        </div>
</div>

<br>

<table class="table">
  <thead>
    <tr>
      <!-- <th>Task ID</th> -->
      <th>Status</th>
      <th>Task</th>
      <th>Address</th>
      <th>Comments</th>
      <!-- <th>Suburb</th> --> 
      <th>Class</th>
      <th>Type</th>
      <!-- <th>Date</th> -->
      <!-- <th>Description</th> -->
      <th>Start Date</th>
      <th>End Date</th>
      <th>Zip</th>
      <th></th>
    </tr>
  </thead>
    <tbody>
      <tr *ngFor="let taskInfo of tasks$ | async">
        <!-- <td>{{taskInfo.eachUserID}}</td> -->
        <a [routerLink]="['/task-detail', taskInfo.$key]"><td>{{taskInfo.taskStatus}}</td></a>
        <td>{{taskInfo.taskAddress}}</td>
        <td>{{taskInfo.taskName}}</td>
  
        <td>{{taskInfo.taskComment}}</td>
        <!-- <td>{{taskInfo.taskSuburb}}</td> -->
        <td>{{taskInfo.taskClass}}</td>
        <td>{{taskInfo.taskType}}</td>
        <!-- <td>{{taskInfo.taskDate | date:"dd/MM/yy hh:mm a"}}</td> -->
        <!-- <td>{{taskInfo.taskDescription}}</td> -->
        <td>{{taskInfo.taskStartDate}}</td>
        <td>{{taskInfo.taskEndDate}}</td>
        <td>
            <a href="{{ taskInfo.zipFileUrl }}">download</a>
        </td>
      </tr>
    </tbody>
</table>

