
<button class="btn btn-warning" [routerLink]="['/technicians']">Back</button>
<br>
<br>

<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
            <h4>Technicians</h4>
            <p class="card-text">Name: {{ technicians.name }}</p>
            <p class="card-text">Email: {{ technicians.email }}</p>
            <p class="card-text">Expiration: {{ technicians.expirationDate }}</p>
            <p class="card-text">Phone: {{ technicians.phone }}</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
            <img class="card-img-top technician-img" [src]="technicians.profileUrl" alt="technicians image">
        </div>
      </div>
    </div>
</div>

<br>

<div class="table-responsive-sm">
  <table class="table">
    <thead>
      <tr>
        <!-- <th>Task ID</th> -->
        <th>Status</th>
        <th>Task</th>
        <th>Address</th>
        <!-- <th>Comments</th> -->
        <!-- <th>Suburb</th> -->
        <th>Class</th>
        <th>Type</th>
        <!-- <th>Date</th> -->
        <!-- <th>Description</th> -->
        <th>Start Date</th>
        <th>End Date</th>
        <th>Zip</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let taskInfo of tasks$ | async | paginate: { itemsPerPage: 5, currentPage: p }">
        <!-- <td>{{taskInfo.eachUserID}}</td> -->
        <td>{{taskInfo.taskStatus}}</td>
          <a [routerLink]="['/task-detail', taskInfo.$key]">
            <td>{{taskInfo.taskName}}</td>
          </a>
        <td>{{taskInfo.taskAddress}}</td>
        <!-- <td>{{taskInfo.taskComment}}</td> -->
        <!-- <td>{{taskInfo.taskSuburb}}</td> -->
        <td>{{taskInfo.taskClass}}</td>
        <td>{{taskInfo.taskType}}</td>
        <!-- <td>{{taskInfo.taskDate | date:"dd/MM/yy hh:mm a"}}</td> -->
        <!-- <td>{{taskInfo.taskDescription}}</td> -->
        <td>{{taskInfo.taskStartDate}}</td>
        <td>{{taskInfo.taskEndDate}}</td>
        <td>
            <a href="{{ taskInfo.zipFileUrl }}">download</a>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
