<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
            <!-- <img class="card-img-top technician-img" [src]="technicians.profileUrl" alt="technicians image"> -->
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
            <h4>Assign Tasks</h4>
            <!-- <p class="card-text">Technician Name: {{tasks.eachUserID}}</p> -->
            <p class="card-text">Tasks: {{tasks.taskName}}</p>
            <p class="card-text">Address: {{tasks.taskAddress}}</p>
            <p class="card-text">Comment: {{tasks.taskComment}}</p>
            <p class="card-text">Suburb: {{tasks.taskSuburb}}</p>
            <p class="card-text">Type: {{tasks.taskType}}</p>
            <!-- <p class="card-text">Date & Time: {{tasks.taskDate | date:"MM/dd/yy hh:mm a"}}</p> -->
            <p class="card-text">Start Date: {{tasks.taskStartDate}}</p>
            <p class="card-text">End Date: {{tasks.taskEndDate}}</p>
            <p class="card-text">Class: {{tasks.taskClass}}</p>
            <p class="card-text">Description: {{tasks.taskDescription}}</p>
            <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>