<div class="row">
  <div class="col-md-6">
    <button class="btn btn-warning" [routerLink]="['/technicians']">Back</button>
      <form #f="ngForm" (ngSubmit)="save(f.value)">
        <div class="form-group">
          <label for="name">Name*</label>
          <input #name="ngModel" [(ngModel)]="technicians.name" name="name" id="name" type="text" class="form-control" required>
          <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
            Name is required.
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email*</label>
          <input #email="ngModel" [(ngModel)]="technicians.email" name="email" id="email" type="text" class="form-control" required>
          <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
            Email is required.
          </div>
        </div>

         <div class="form-group">
            <input #id="ngModel" [(ngModel)]="technicians.id" id="id" type="hidden" class="form-control">
        </div>
        <div class="form-group">
            <label for="online">Online</label>
            <input #online="ngModel" [(ngModel)]="technicians.online" name="online" id="online" type="checkbox" class="form-control">
          </div>


        <div class="form-group">
          <label for="expiration">Contract Expiration</label>
          <input #expiration="ngModel" [(ngModel)]="technicians.expirationDate" name="expiration " id="expiration" type="datetime" class="form-control" required>
          <div class="alert alert-danger" *ngIf="expiration.touched && expiration.invalid">
            Contract expiration date is required.
          </div>
        </div>

        <div class="form-group">
          <label for="phone">Phone</label>
          <input #phone="ngModel" [(ngModel)]="technicians.phone" name="phone" id="phone" type="text" class="form-control" required>
          <div class="alert alert-danger" *ngIf="phone.touched && phone.invalid">
            Phone is required.
          </div>
        </div>
        <div class="form-group">
          <label for="userType">Sys Role</label>
          <input #userType="ngModel" [(ngModel)]="technicians.userType" name="userType" id="userType" type="text" class="form-control" required>
          <div class="alert alert-danger" *ngIf="phone.touched && phone.invalid">
            Sys Role is required.
          </div>
        </div>

        <div class="form-group">
            <label for="profileUrl">Profile URL</label>
            <input #userType="ngModel" [(ngModel)]="technicians.profileUrl" name="profileUrl" id="profileUrl" type="url" class="form-control">
            <!-- <div class="alert alert-danger" *ngIf="profileUrl.touched && profileUrl.invalid">
              Profile photo is required.
            </div> -->
          </div>




          <button class="btn btn-primary">Save</button>
          <button type="button" (click)="delete()" class="btn btn-danger">Delete</button>
      </form>
</div>

  <div class="col-md-6">
      <div class="card" style="width: 30rem;">
          <img class="card-img-top">
            <div class="card-body">
              <h4>Technicians</h4>
              <h5 class="card-title">Name: {{ technicians.name }}</h5>
              <p class="card-text">Email: {{ technicians.email }}</p>
              <p class="card-text">Contract Expiration: {{ technicians.expirationDate | date:"dd/MM/yy hh:mm a"}}</p>
              <p class="card-text">Phone: {{ technicians.phone }}</p>
              <p class="card-text">Sys Role: {{ technicians.userType }}</p>
              <p class="card-text">Online: {{ technicians.online }}</p>
              <!-- <p class="card-text">Hobby: {{ technicians.hobby }}</p>
              <p class="card-text">Bio: {{ technicians.bio }}</p> -->
            </div>

            <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                      <img class="card-img-top technician-img" [src]="technicians.profileUrl" alt="technicians image">
                  </div>
                </div>
              </div>
        </div>
  </div>

</div>
